@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, night --prefersdark;
}

@layer base {
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    font-family: var(--font-inter), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
